fastapi
uvicorn
langchain
langchain-google-genai
langgraph
crewai
chromadb
sqlalchemy
beautifulsoup4
pymupdf
markdownify
google-search-results
arxiv
requests
pydantic
python-dotenv
langchain-openai
langchain-groq
